<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/genetic.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/random-modal.css">
    <link href="https://unpkg.com/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
    <script defer type="text/javascript" src="https://unpkg.com/vis-network/dist/vis-network.min.js"></script>
    <script src="https://kit.fontawesome.com/11ce54f9ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script defer src="/js/base.js"></script>
    <script defer src="/js/graphViewer.js"></script>
    <script defer src="/js/random-modal.js"></script>
    <script defer src="/js/genetic.js"></script>
    <script defer src="/js/constants.js"></script>
    <script defer src="/js/algorithms/graphAlgorithm.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo-wrapper">
                <a href="/">Demo</a>
            </div>
            <div class="actions-wrapper">
                <a href="exact" id="exact-link">Exact</a>
                <a href="heuristic" id="heuristic-link">Heuristic</a>
                <a href="genetic" id="genetic-link">Genetic</a>
            </div>
            <div class="import-wrapper">
                <button class="dropbtn">Import</button>
                <div class="dropdown-content">
                    <button id="random-button">Random</button>
                    <input type="file" id="file-input" accept=".graphml" style="display: none;" />
                    <button id="graphml-button">GraphML</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="graph-stats">
            <div class="stat-wrapper">
                <label for="num-nodes-input">Nodes count</label>
                <div class="input-wrapper">
                    <input type="text" id="num-nodes-input" value="1">
                    <i class="fas fa-exclamation-circle" title="Invalid number of nodes"></i>
                </div>
            </div>
            <div class="stat-wrapper">
                <label>Graph edges</label>
                <ul id="edges-list" class="edges-container">
                    <li class="edge">
                        <label class="edge-label">1</label>
                        <input type="text" class="edge-input">
                        <i class="fas fa-exclamation-circle" title="Invalid edge! Example of valid edge: 2-3"></i>
                        <button class="edge-delete-button">X</button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="graph-wrapper"></div>
        <div id="legend">
            <h3>Legend</h3>
            <ul>
                <li><span class="legend-icon start"></span> Extremity Vertex</li>
                <li><span class="legend-icon path"></span> Part of the Path</li>
            </ul>
        </div>
        <div id="output-wrapper">
            <div class="algorithm-input-wrapper">
                <label>Population Size</label>
                <input type="number" class="algorithm-input" id="population-size-input" value="500">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Max Generation</label>
                <input type="number" class="algorithm-input" id="max-generation-input" value="300">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Dynamic Max Generation</label>
                <input type="text" class="algorithm-input" id="dynamic-max-generation-input" value="true">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Max Generation Increase</label>
                <input type="number" class="algorithm-input" id="max-generation-increase-input" value="100">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Elitism</label>
                <input type="number" class="algorithm-input" id="elitism-input" value="25">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Mutation Rate</label>
                <input type="number" class="algorithm-input" id="mutation-rate-input" value="0.1">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Mutation Count</label>
                <input type="number" class="algorithm-input" id="mutation-count-input" value="5">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Random Mutation Rate</label>
                <input type="number" class="algorithm-input" id="random-mutation-rate-input" value="0.85">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Probability Crossover</label>
                <input type="number" class="algorithm-input" id="probability-crossover-input" value="0.3">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Selection Pressure</label>
                <input type="number" class="algorithm-input" id="selection-pressure-input" value="2">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <div class="algorithm-input-wrapper">
                <label>Process each component separately</label>
                <input type="text" class="algorithm-input" id="process-each-component-separately-input" value="false">
                <i class="input-warning fas fa-exclamation-circle" title="Invalid input!"></i>
            </div>
            <button id="generate-parameters-btn">Generate parameters</button>
            <textarea id="algorithm-output">No algorithm currently running.</textarea>
            <button id="run-algorithm-btn">Run algorithm</button>
        </div>
    </main>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <form id="graphForm">
                <h1>Random graph</h1>
                <div class="modal-input-wrapper">
                    <label for="nodes">Number of Nodes:</label>
                    <input type="number" id="nodes" name="nodes" required>
                </div>

                <div class="modal-input-wrapper">
                    <label for="edges">Number of Edges:</label>
                    <input type="number" id="edges" name="edges" required>
                </div>

                <div class="form-buttons">
                    <button type="button" class="cancel-btn">Cancel</button>
                    <button type="submit" class="submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>